

<form id = 'search-form' action="/results">
  <input id = 'input-bx' type="text" name = "pokemon">
  <button id = 'search-btn' >search from api</button>
</form>


<div id = "pokemon-info">
</div>




<div id = "pokemon-fewEgz">
<button class = "allDelBtn">DELETE all</button>
</div>




<script>

//              SEARCH pokemons from API

$('#search-form').on('submit', function(event){
  event.preventDefault();

  var pokeName = $('#input-bx').val();
  // console.log(title);
  $.ajax({
    url: "http://pokeapi.co/api/v2/pokemon/results[0]"+pokeName
    // method: 'get'
  }).done(function(pokemon){
    console.log(pokemon);
    $('#pokemon-info').html(pokemon.name)
  });

});


//             GET pokemons from API

$.ajax({
  url: "http://pokeapi.co/api/v2/pokemon/"
  // method: 'get'
}).done(function(pokemon){
  pokemon.results.forEach(function(pokemon_api) {

    var pokemonDiv = $('<div>', {'class': 'pokemon-div'});
    var deleteButton = $('<button>', {'id': 'deleteBtn'});
    $('#pokemon-fewEgz').append(pokemonDiv)
    pokemonDiv.append(pokemon_api.name +' \n')
    pokemonDiv.append(deleteButton)


//               DELETE SINGLE display pokemons from API

    deleteButton.on('click', function(event){
      var $pokemonsDiv = $(event.target).closest('.pokemon-div');
      $pokemonsDiv.remove();
    })

  })
});



//               DELETE ALL display pokemons from API

$('.allDelBtn').on('click', function(event){
  // event.preventDefault();
  console.log('delete all of this')

  var $pokeDivDelete = $(event.target).closest('#pokemon-fewEgz');
    $pokeDivDelete.remove();

});



</script>
