
<form id = 'search-sglMv-form' action="/results">
  <input id = 'sgl-mv-input' type="text" name = "pokemon" placeholder="single movie">
  <button id = 'search-btn' >search pokemon movie from api</button>
</form>

<br>

<div id = "singlePokemonMovie">
  <h6 id = "poke-mv-title"></p>
  <h6 id = "poke-mv-poster"></p>
</div>

<br>



<form id = 'search-mltMv-form' action="/results">
  <input id = 'mlt-mv-input' type="text" name = "pokemon" placeholder="multiple movies">
  <button id = 'search-btn' >search pokemon movies from api</button>
</form>

<br>

<div id = "pokemonMovies">
</div>



<br>
<br>


<div id = "pokemon-fewEgz">
<button class = "allDelBtn">DELETE all</button>
</div>




<script>

//              SEARCH pokemon SINGLE movie from API

$('#search-sglMv-form').on('submit', function(event){
  event.preventDefault();

  var pokeMovie = $('#sgl-mv-input').val();
  // console.log(title);
  $.ajax({
    url: "http://www.omdbapi.com/?t="+pokeMovie
    // method: 'get'
  }).done(function(movie){
    console.log(movie);
    $('#poke-mv-title').html('THE SINGLE MOVIE: ' + movie.Title)
    $('#poke-mv-poster').html('<img class = "movie-poster" src="' + movie.Poster + '">');
  });

});


//              SEARCH pokemon MOVIES from API

$('#search-mltMv-form').on('submit', function(event){
  event.preventDefault();

  var pokeMovies = $('#mlt-mv-input').val();
  // console.log(title);
  $.ajax({
    url: "http://www.omdbapi.com/?s="+pokeMovies
    // method: 'get'
  }).done(function(movie){
    console.log(movie);
    movie.Search.forEach(function(mv){
      var pokeMovieDiv = $('<div>', {'class': 'poke-movie-div'});
      var pokeMovieTitle = $('<h6>', {'class': 'poke-movie-title'});
      var pokeMoviePoster = $('<p>', {'class': 'poke-movie-poster'});

      $('#pokemonMovies').append(pokeMovieDiv);
      $(pokeMovieDiv).append(pokeMovieTitle);
      $(pokeMovieDiv).append(pokeMoviePoster);
      $(pokeMovieTitle).html('THE MOVIES: ' + mv.Title +' \n');
      $(pokeMoviePoster).html('<img class = "movie-poster" src="' + mv.Poster + '">');
    })

  });
});


//             GET pokemons from API

$.ajax({
  url: "http://pokeapi.co/api/v2/pokemon/"
  // method: 'get'
}).done(function(pokemon){
  pokemon.results.forEach(function(pokemon_api) {

    var pokemonDiv = $('<div>', {'class': 'pokemon-div'});
    var deleteButton = $(("<span>" + '\u274C'+ "</span>"), {'id': 'deleteBtn'});

    $('#pokemon-fewEgz').append(pokemonDiv)
    pokemonDiv.append(pokemon_api.name +' \n')

    pokemonDiv.append(deleteButton)


//               DELETE SINGLE display pokemons from API

    deleteButton.on('click', function(event){
      var $pokemonsDiv = $(event.target).closest('.pokemon-div');
      $pokemonsDiv.remove();
    })

  })
});



//               DELETE ALL display pokemons from API

$('.allDelBtn').on('click', function(event){
  // event.preventDefault();
  console.log('delete all of this')

  var $pokeDivDelete = $(event.target).closest('#pokemon-fewEgz');
    $pokeDivDelete.remove();

});



</script>
